---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="关于">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <h2 class="tag-header">关于我</h2>
        <div class="tag-post-list">
          <ul>
            <li>倒计时监狱囚犯</li>
            <li>生活失控者</li>
            <li>被时代抛弃的人</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">关注我</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              <a href="https://twitter.com/" target="_blank"> Twitter(暂时没有)</a>
            </li>
            <li>
              <a href="https://github.com/ChaosCreeper" target="_blank">Github</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">随想</h2>
        <div class="tag-post-list">
          <ul>
            <li>我好难受,为什么dictionary.cambridge.org和ldoceonline.com无法用requests爬取信息</li>
            <li>我好难受,我好像找一个地方阴暗的爬行。</li>
            <li>我好难受,为什么我这么蠢。</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">一些作品</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              暂时没有。
            </li>
          </ul>
        </div>
      </div>

    </div>
  </section>
</BaseLayout>
